extends layout

block content
	img(src=movieInfo.poster)
	h1=movieInfo.title
		|  (#{movieInfo.year})
	p=movieInfo.director
	p=movieInfo.rating
		|, #{movieInfo.runtime}
	p Written by #{movieInfo.writer}
	p Starring #{movieInfo.actors}
	i=movieInfo.name
		|  #{movieInfo.volume}
	p=movieInfo.plot
	a(href=movieInfo.imdbURL) See more info on IMDB
	br
	br
	a(href='/edit/' + movieInfo.id) Edit
